@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

/** sets the background and font of the other pages**/
body {
    background-image: url("images/banner.png");
    background-repeat: no-repeat;  /** displays the background once **/
    font-family: 'Roboto', sans-serif !important;
}

/** sets the background and font of the login page**/
#LoginPageBackground{
  background-image: url("images/loginbg.png") !important;
  font-family: 'Roboto', sans-serif !important;
}

/** Index page **/

/** The login box on the top right **/
.LogedInStatusBox {
  padding: 3px;
  width: 220px;
  height: 140px;
  margin-left: 86%;
  margin-top: 1%;
  background-color: #F7F7F7;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}

/** The text inside the login box **/
#LoginBox{
  font-size: 1.2em;
  text-align: center;
}

/** Styling for the form used to create the search bar **/
#search-form {
  width: 700px;
  margin: 7px auto;
  padding:8px 15px;
  background:rgba(0, 0, 0, 0.2);
  border:0px solid #dbdbdb;
  width: 698px;
}

/** Styling used for the bar in the search bar**/
#bar{
  padding: 6px 15px;
  width: 585px;
  border:2px solid #4B0082;
  background-color:#4B0082;
  color: #ffffff
}

/** Styling used for the button in the search bar **/
#button{
  padding: 6px 15px;
  border:2px solid #4B0082;
  background-color:#4B0082;
  color: #ffffff;
}

/** This is the CSS for the background of the NavBar **/
#NavBar{
  margin: 0;
  padding: .5em 0 .5em 0;
  background: #4B0082;
  width: 100%;
  text-align: center;
  list-style: none;
  margin: -3px;
  padding: -1px;
}


/** This places each search term inline with each other **/
#NavBar li{
  margin: 0;
  padding: 0;
  display: inline;
}

/** This edits the displays of the links **/
#NavBar li a:link{
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  color: #ffffff;
}

/** This edits the links once they are visited **/
#NavBar li a:visited{
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  color: #ffffff;
}

/** This edits the link when active **/
#NavBar li a:active{
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  color: #ffffff;
}

/** This edits the links when the mouse hovers over the link **/
#NavBar li a:hover{
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  color: #ffffff;
  background-color: #ad45f9;
}

/** This is used to create the sliding animation **/
@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

/** This positions and resizes the basic slider **/
div#slider{
  overflow: hidden;
  margin-top: 3%;
  width: 80%;
  margin-left: 10%;
}

/** This styles the images used **/
div#slider figure img{
  width: 20%;
  float: left;
}

/** This styles the image currently in view and gives it the animation needed **/
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

/** This is the style for all the buttons in the website **/
.Button {
  -moz-appearance: button;
  -ms-appearance: button;
  -o-appearance: button;
  -webkit-appearance: button;
  appearance: button;
  text-decoration: none;
  padding: 10px 10px;
  border: 0px;
  font-size: 30px;
  background-color: #4B0082;
  color: #ffffff;
  opacity: 0.8;
  width: 277px;
  margin: 0 0.7em;
}

.row{
  margin-top: 5%;
  padding-left: 16%;
}

/** Login page **/

/** This is the image on the login page **/
#logo-img{
  width: 600px;
  height: 750px;
  margin-top: 5%;
  margin-left: 20%;
}

/** Home button **/
#home-button {
  -webkit-appearance: button;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 15px;
  background-color: #4B0082;
  color: #ffffff;
  opacity: 0.8;
  width: 100px;
  float: right;
  margin-right: -4%;
  margin-top: -5%;
}

/** This is the box that will be filled in by the user **/
.login-box {
  padding: 40px;
  position: absolute;
  top: 13%;
  right: 19%;
  width: 450px;
  background-color: #F7F7F7;
  margin: 0 auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  opacity: 0.8;
}


.login-box h2{
  font-weight: 100;
  text-align: left;
  font-size: 1.4em;
}

.login-box input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-box input[type=text], input[type=email], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-box input[type=text]:hover, input[type=email]:hover, input[type=password]:hover {
  border: 2px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login-box a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-box a:hover {
  opacity: 1;
}

/** These are the buttons in the login box **/
.login-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4B0082;
  padding: 10px;
}

.login-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #4B0082;
}


/** Account details page **/
.myaccount-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 19px;
  font-weight: bold;
  width: 1100px;
  padding: 20px;
  overflow: hidden;
  border: 3px solid rgba(43,43,43,0.23);
  -webkit-border-radius: 19px;
  border-radius: 19px;
  color: rgba(43,43,43,0.76);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #e8e8e8;
  -webkit-box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.24) ;
  box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.24) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

#AccountPage{
 font-size: 1.8em;
}

/** Styling for the 6 tabs that will be used to find reviews **/

/** Styling for the title **/
.PageTitle{
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  padding: 13px;
}

/** Styling for a header **/
.NewReviewHeader{
  font-size: 2em;
  font-weight: bold;
  margin-left: 3%;
  margin: 2%;
}

/** Styling for each review box **/
.info-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: left;
  width: 650px;
  opacity: 0.86;
  margin: 6px;
  padding: 9px;
  border: 3px solid #35073f;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #4B0082;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.69) ;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.69) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  display: inline-block;
}

#info-box-title {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  float: left;
  margin-left: 35px;
  top: 15px;

}
#info-box-subtext {
  font-size: 14px;
  color: #ffffff;
  text-align: left;
  float: left;
  margin-left: 35px;
}
#info-box-img {
  float: left;
  top: 10px;
  width: 100px;
  height: 100px;
}
#info-box-rating{
  position: relative;
  float: right;
  top: -20px;
  text-align: right;
  font-size: 42px;
  color: #FFD700;
}


/** Styling for the right hand side of the page**/
#page-rightside {
  float: right;
  text-align: right;
  margin-top: -16%;
}
/** Styling for the review pages **/

/** Styling for the You are here text **/
#you-are-here {
  font-size:20px;
  margin:10px;
}


-gallery {
  width: 640px;
  margin-left: 18%;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  float: left;
}

.review-gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.review-gallery > div > img {
  display: block;
  width: 200px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.review-gallery > div:hover {
  z-index: 1;
}

.review-gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.review-rating{
  position: relative;
  text-align: center;
  font-size: 42px;
  color: #FFD700;
  left: -2%;
}

.review-rating-box{
  position: relative;
  text-align: center;
  font-size: 42px;
  color: #FFD700;
  left: 5%;
}

.rating {
    float:left;
}

#top-rating-Box{
  position: relative;
  margin-left: 5%;
}

#top-rating{
  position: relative;
  margin-left: 78%;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.review-text{
  float: right;
  text-align: left;
  margin-top: 0.8em;
  padding: 20px;
  font-size: 18px;
}

.discussion-heading{
  float: none;
  font-size: 22px;
  font-weight: bold;
  margin-top: 16%;
  margin-left: 27%;
}

.question-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: left;
  width: 477px;
  position: relative;
  top: 10px;
  opacity: 0.86;
  margin: 15px;
  padding: 15px;
  overflow: hidden;
  border: 3px solid #35073f;
  -webkit-border-radius: 10px;
  border-radius: 8px;
  color: #ffffff;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #4B0082;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.69) ;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.69) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}


#question-box-question {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  float: left;
  margin-left: 10px;
  position: relative;
  top: 15px;

}

#question-box-answer {
  font-size: 15px;
  color: #ffffff;
  text-align: left;
  float: left;
  margin-left: 10px;
  position: relative;
}

#input-question {
  color: #000000;
}

.login-box-review{
  position: absolute;
  top: 160%;
  left: 2%;
  width: 30%;
  height: 30em;
  padding: 0%;
  background-color: #F7F7F7;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  opacity: 0.8;
}

.login-box-topic{
  padding: 40px;
  position: absolute;
  top: 10%;
  left: 23%;
  width: 50%;
  height: 70%;
  background-color: #F7F7F7;
  margin: 0 auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  opacity: 0.8;
}

#SiteMap{
top: 102%;
right: 5%;
position: absolute;
}

.review-heading{
  position: absolute;
  top: 145%;
  left: 2%
}

#button-Box{
  position: absolute;
  bottom: 6%;
  left: 4%;
  margin-bottom: 2%;
  padding: 6px 15px;
  border:2px solid #4B0082;
  background-color:#4B0082;
  color: #ffffff;
}
